music/*.mp3
music/*.m4a
music/*.wav
music/*.mp4
music/*.webm
music/*.flac
music/*.ogg
music/*.aac
music/*.mp3
music/*.m4a
music/*.wav
music/*.mp4
music/*.webm
music/*.flac
music/*.ogg
music/*.aac

# Local Netlify folder
.netlify
